.button {
  display: block;
  width: 100%;
  margin: 0 auto;
  border: 2px solid @grey;
  padding: 16px 0;
  background-color: white;
  text-align: center;
  color: @grey;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
