.filter {
  padding: 30px;
  padding-bottom: 50px;
  &__fieldset {
  display: flex;
  padding: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-bottom: 45px;
  border: 0;
    &--type .filter__label, &--color .filter__label {
    padding-left: 64px;
    margin-top: 40px;
    }
  }
  &__titles {
  position: relative;
  width: 100%;
  line-height: 16px;
  color: @aquamarine;
  font-weight: 700;
  text-transform: uppercase;
  overflow: hidden;
    &::after {
  content: "";
  position: relative;
  display: inline-block;
  width: 100%;
  margin-right: -100%; 
  right: -25px; 
  vertical-align: middle;
  border-top: 1px solid @aquamarine;
  }
  }
  &__values {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin:0;
  padding: 0;
  }
  &__item {
  padding: 14px 0;
  width: 50%;
  margin-top: 18px;
  }
  &__phone-icon, &__email-icon {
  position: absolute;
  right: 5px;
  fill: #cccccc;
  }
}

.filter__label {
  position: relative;
  margin-top: 25px;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.filter__fieldset input[type="text"] {
  width: 100%;
  padding: 15px 0;
  border: 0;
  border-bottom: 2px solid @black;
  outline: 0;
}

.filter__fieldset--details textarea {
  margin-top: 15px;
  padding: 15px;
  width: 100%;
  border: 2px solid @grey;
  outline: 0;
}

.filter__radio {
  &::before {
  position: absolute;
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  border: 2px solid @grey;
  border-radius: 50%;
  top: -9px;
  left: 2px;
  }
  &:active::before {
  border-color: #c7c7c7;
  }
}

.filter input[type=radio]:checked+label::after {
  position: absolute;
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-color: @aquamarine;
  border-radius: 50%;  
  top: 3px;
  left: 14px;  
}

.filter__checkbox {
  &::before {
  position: absolute;
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  border: 2px solid @grey;
  top: -7px;
  left: 2px;
  }
  &:active::before {
  border-color: #c7c7c7;
  }
}

.filter input[type=checkbox]:checked+label::after {
  position: absolute;
  content: "";
  display: block;
  width: 24px;
  height: 30px;
  background: url(..//img/icon-tick.svg) no-repeat center; 
  top: -3px;
  left: 11px;  
}

//==============================Tablet version=======================

@media (min-width: @tablet) {
  .filter {
  padding: 0;
  margin-top: 60px;
  &__titles {
  width: 167px;
  &::after {
  display: none;
  }
  }
  &__container {
  display: flex;
  width: 680px;
  margin: 0 auto;
  }
  &__label {
  margin-top: 0;
  font-size: 19px;
  &--type, &--color {
  padding-left: 80px;
  }
  }
  }

  .filter {
  &__fieldset {
  padding: 50px 0;
  }
  &__fieldset--color .filter__values {
  flex-direction: row;
  flex-wrap: wrap;
  }
  &__fieldset--color {
  background-color: @grey-fon;
  padding-bottom: 25px;
  & .filter__titles {
  margin-top: 14px;
  }
  }
  &__fieldset--customer {
  & .filter__values {
  flex-direction: row;
  flex-wrap: wrap;
  }
  & input[type=text] {
  width: 77%;
  flex-grow: 1;
  margin-bottom: 40px;
  padding-top: 0;
  }
  & label {
  margin-right: 25px;
  margin-bottom: 0;
  }
  }
  & input[type=text] {
  padding-top: 0;
  padding-left: 16px;
  font-size: 19px;
  line-height: 18px;
  }
  }
  .filter__fieldset--details textarea {
  margin-top: 0;
  font-size: 19px;
  line-height: 18px;
}

  .filter__container--button {
  align-items: flex-start;
  margin-top: 53px;
  margin-bottom: 50px;
  justify-content: space-between;
  & .button {
  width: 230px;
  margin: 0;
  order: -1;
  }
  }

  .filter__item {
  margin-bottom: 25px;
  }

  .filter__fieldset--phone {
  padding-bottom: 0px;
  background-color: @grey-fon;
  & input {
  background-color: @grey-fon;
  }
  }

  .filter__fieldset--mail {
  background-color: @grey-fon;
  & input {
  background-color: @grey-fon;
  }
  }
}

@media (min-width: @desktop) {
  .filter {
  &__container {
  width: 922px;
  }
  &__item {
  width: 33%;
  }
  &__radio:hover::before, &__checkbox:hover::before, & input filter__radio:focus::before {
  border-color: @aquamarine;
  }
  &__radio:active::before, &__checkbox:active::before {
  border-color: #c7c7c7;
  }
  & input:hover, & input:focus, & textarea:hover, & textarea:focus {
    border-color: @aquamarine;
  }
  }

  .filter__fieldset--phone:hover .filter__phone-icon,
  .filter__fieldset--mail:hover .filter__email-icon {
  fill: @aquamarine;
}

}
