.modal {
  padding: 36px 30px 46px 30px;
  width: 320px;
  margin: 0 auto;
  border: 1px solid #ededed;
  &__title {
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  }
}
