.site-list {
  &__item {
  display: flex;
  padding: 22px 0;
  border-bottom: 1px solid #ececec;
  &--new, &--sale  {
  display: none;
  }
  }
  &__link {
  display: block;
  width: 183px;
  margin: 0 auto;
  font-weight: 700;
  color: @black;
  }
  &__logo-link {
  display: block;
  width: 120px;
  margin: 0 auto;
  }
}
